/* Search bar */
.stTextInput>div>input {
    border-radius: 12px;
    padding: 10px;
    border: 2px solid #0d47a1;
    font-size: 1.1rem;
}

/* Buttons */
.stButton>button {
    background-color: #0d47a1;
    color: white;
    border-radius: 12px;
    padding: 1rem;
    font-size: 1.2rem;
    font-weight: bold;
    transition: 0.3s;
}

.stButton>button:hover {
    background-color: #1565c0;
    transform: scale(1.05);
}
